* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url("/images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
}

.content {
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 18vw;
  color: white;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #111111;
  background: white;
  padding: 10px 20px;
  display: inline-block;
}

p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
}

a {
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  margin: auto;
  font-size: 17px;
  margin-bottom: 10px;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  outline: none;
  opacity: 0.5;
  transition: 0.5s;
}

a:hover {
  opacity: 1;
}
