body {
    background: url("images/attack_background.jpg") no-repeat;
    background-size: cover;
}

.contentwrapper {
    padding: 10px 20px;
}

.content {
    margin-left: 250px;
    width: 500px;
    background: #191919;
}

.content h2 {
    background: black;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}


input {
    background: none;
    border: 1px solid #565656;
    color: white;
    margin-bottom: 25px;
    padding: 8px;
}

span, p, label {
    font-size: 0.9rem;
}

label {
    text-align: left;
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: -10px;
    padding: 10px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}