body {
    font-size: 62.5%;
    color: white;
    background: #191919;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: url("https://boef.nl/assets/media/themes/xboef/boef_pattern.jpg");
}

#koffer_icon {
    color: #e01d1a;
    border-radius: 50%;
    background: #222;
    font-size: 2rem;
    padding: 1rem;
}

#icon {
    color: #e01d1a;
    margin-right: 10px;
    width: 30px;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

.contentwrapper {
    padding: 10px 20px;
}

button {
    border: 1px solid black;
    background: #191919;
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.content {
    margin-left: 300px;
    width: 750px;
    background: #191919;
}

.content h2 {
    background: black;
    padding: 20px;
    margin: 0;
}

h3 {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: grey;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

li {
    font-size: 0.9rem;
    list-style-type: none;
    margin-bottom: 15px;
    transition: 0.5s;
    padding: 10px;
    border-radius: 4px;
    color: #e5d6d6;
    cursor: pointer;
}

a {
    color: #e5d6d6;
    text-decoration: none;
}

li:hover {
    background: #222528;
}

ul {
    padding: 0 25px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

span, p {
    font-size: 0.9rem;
}