input {
    background: #444444;
    color: white;
    border: 1px solid black;
}

.contentwrapper {
    padding: 10px 20px;
}

.content {
    margin-left: 250px;
    width: 500px;
    background: #191919;
}

.content h2 {
    background: black;
    padding: 20px;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
