body {
  margin: 0;
  padding: 0;
  background: #2e3544;
  color: white;
  font-family: "Montserrat";
}

* {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

h2 {
  color: white;
  font-size: 60px;
  margin-bottom: 25px;
}

.keuzes {
  display: flex;
  margin-top: 20px;
}

.wrapper {
  max-width: 600px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  width: 100%;
  padding-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 20px;
  outline: none;
}

input[type="submit"] {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 3px;
}

input[type="submit"]:not(:first-of-type) {
  margin-left: 50px;
}

input[type="submit"]:hover {
  border-bottom: 1px solid white;
}

.no_money,
.winwrapper,
.losswrapper {
  display: none;
}
