* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background: #2e3544;
  color: white;
  overflow: hidden;
}

h2 {
  font-size: 60px;
}

.content {
  max-width: 600px;
  padding: 0 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 10px;
}
