body {
    font-size: 62.5%;
    color: white;
    background: #191919;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: url("https://boef.nl/assets/media/themes/xboef/boef_pattern.jpg");
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.username {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
    background: #1D2124;
}

li {
    font-size: 0.9rem;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    color: #e5d6d6;
    cursor: pointer;
}

#koffer_icon {
    color: #e01d1a;
    border-radius: 50%;
    background: #222;
    font-size: 2rem;
    padding: 1rem;
}

#icon {
    color: #e01d1a;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #e5d6d6;
}

a {
    color: #e5d6d6;
    text-decoration: none;
}

li:hover {
    background: #222528;
}

ul {
    padding: 0 25px;
}

h3 {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: grey;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

span, p {
    font-size: 0.9rem;
}