.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.username {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
    background: #1D2124;
}