body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background-image: url("/images/mafia2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

.box {
  width: 320px;
  height: auto;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
  font-size: 14px;
  line-height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background: #ff3a27;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 30px;
}

.box a {
  margin-left: 0;
  color: grey;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}

input[type="submit"]:hover {
  background: tomato;
}
.box a:hover {
  color: tomato;
}

@media screen and (min-width: 1024px) {
  .box {
    transform: none;
  }
}

.dropdown {
  background: black;
  margin: 0;
  border-top: 2px solid white;
  padding: 0px 25px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  max-height: 0;
  transition: 0.5s;
  z-index: 99;
  font-family: "Arial";
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-open {
  padding: 10px 25px;
  max-height: 100px;
  transition: 0.5s;
}

.dropdown li {
  list-style-type: none;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ul {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: black;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial";
}
.logo {
  font-size: 22px;
  margin-left: 25px;
}

.icon {
  margin-left: 25px;
}

#display {
  display: none;
}

#display2 {
  display: none;
  font-size: 20px;
}

.ul li {
  font-size: 18px;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.ul div {
  display: flex;
  column-gap: 100px;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login button {
  color: white;
  background: #A10216;
  height: 100%;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

@media screen and (max-width: 769px) {
  .ul .hide {
      display: none;
  }
  #display {
      display: inline;
  }
}