html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: #0E0500;
    font-family: Arial;
}

.banner {
    width: 100vw;
    height: auto;
    position: relative;
    margin-top: -15rem;
    max-width: 100%;
}


ul {
    display: flex;
    background: black;
    color: white;
    height: 10rem;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

div {
    display: flex;
    gap: 10rem;
}

li {
    list-style-type: none;
    transition: 0.5s;
}

.current {
    color: grey;
}

li:hover {
    color: grey;
    cursor: pointer;
}

.border-button {
    border: 1px solid #434B8A;
    padding: 1.25rem;
    transition: 0.5s;
    background: none;
    cursor: pointer;
}

.border-button:hover {
    transform: scale(1.2);
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
}

input {
    margin-top: 2rem;
    background: #3F3F43;
    outline: none;
    border: none;
    color: white;
    padding: 2vh;
    margin-bottom: 2rem
}

.a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.a:hover {
    color: grey;
}

.current {
    text-decoration: none;
    color: white;
}

label {
    color: white;
    font-size: 1.6rem;
}