body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("/images/mafia2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

.box {
  width: 320px;
  height: auto;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
  font-size: 14px;
  line-height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background: #ff3a27;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 30px;
}

a {
  margin-left: 0;
  color: grey;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}

input[type="submit"]:hover {
  background: tomato;
}
a:hover {
  color: tomato;
}
