@import url("https://fonts.googleapis.com/css?family=Open+Sans|Nova+Mono");

body {
  background: #292a23;
  color: white;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Open Sans", "sans-serif";
}

button {
  opacity: 0.5;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: "Open Sans", "sans-serif";
  transition: 0.5s;
}

button:hover {
  opacity: 1;
}

img {
  width: 15rem;
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  max-width: 100%;
}

.video {
  position: relative;
  background: blue;
}

@media screen and (max-width: 1024px) {
  button {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
