body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  padding: 50px 0;
}

.box {
  width: 320px;
  height: auto;
  max-height: 450px;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box2 {
  width: 400px;
  height: auto;
  max-height: 500px;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ff3a27;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
  font-size: 14px;
  line-height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background: #ff3a27;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background: tomato;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

p {
  margin: 0;
}

table {
  color: white;
  width: 80%;
}

.boxwrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type="number"] {
  margin: 0;
  padding: 0;
}

.box2 input[type="submit"] {
  margin-top: 10px;
}

.playerbox {
  width: 320px;
  height: auto;
  max-height: 500px;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button:hover {
  opacity: 0.9;
}
