body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  width: 320px;
  height: auto;
  background: black;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 0;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
  font-size: 14px;
  line-height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background: #ff3a27;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background: tomato;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}
